html

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1920px;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    color: white;
    padding-left: 8vw;
}


#logo {
    margin-bottom: 4vw;
    width: 15%;
    margin-top: 3vw ;
    
}
#title {
    font-size: 4rem;

}
