html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  background-image: url(/assets/img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  font-family: "Ubuntu", sans-serif;
}
#instruction {
  color: #c2128d;
}

img {
  width: 150px;
  height: 95%;
  margin-top: 2vw;
  padding-left: 2vw;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  margin: 0 auto;
}

main {
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

#welcomePage {
  font-size: 1.6rem;
  margin-top: 2rem;
}

#welcomePage ul {
  font-size: 20px;
  line-height: 40px;
  text-align: left;
}

#welcomePage p {
  border-bottom: 2px solid #c2128d;
  padding-bottom: 20px;
}

#welcomePage section {
  display: flex;
  justify-content: space-between;
  border: 3px solid #c2128d;
  padding: 30px;
}

#checkbox {
  margin-top: 5%;
  cursor: pointer;
  transform: scale(2.5);
  text-align: center;
  justify-content: center;
  margin-right: 10px;
}
label {
  font-size: 15px;
}
/* inizio CSS pagina 4*/
#startCountdownDiv {
  font-size: 100px;
}

#questions {
  display: inline-block;
}

.stars {
  display: inline-flex;
  cursor: pointer;
  font-size: 4rem;
  color: rgb(32, 35, 77);
}

.stars .star:hover,
.stars .star.active {
  color: rgb(68, 243, 255);
}

.feedback-section {
  margin-top: 20px;
}

textarea {
  width: 100%;
  max-width: 400px;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
}

#btnNextPage1,
#btnNextPage2,
#btnRate,
#btnFeedback {
  width: 15rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 0px 0px 10px #00ffff, 0px 0px 30px #00ffff;
  background-color: #00ffff;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/*inizio pagina due*/
#timerCanvas {
  margin-top: 15%;
  width: 200px;
  height: 200px;
}
#btnAnswers {
  width: 10em;
  height: 2em;
  font-size: 2em;
}

/* Pulsante corretto */
.correct-answer {
  background-color: green;
  color: white;
}

/* Pulsante errato */
.incorrect-answer {
  background-color: red;
  color: white;
}

/* Pulsanti disabilitati con stili personalizzati */
button:disabled.correct-answer {
  background-color: green;
  color: white;
  opacity: 1;
  /* Sovrascrivi la trasparenza predefinita */
  cursor: not-allowed;
  /* Mostra che è disabilitato */
}

button:disabled.incorrect-answer {
  background-color: red;
  color: white;
  opacity: 1;
  cursor: not-allowed;
}

button:hover {
  background-color: #0056b3;
}

#contatoreDomande {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 5px;
}

.fineTimer {
  color: brown;
}

#domandeContainer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#domande h2 {
  font-size: 3em;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* CSS Index-3 PIECHART */

#resultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

#resultPage h1 {
  font-size: 54px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}

#resultPage p {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 35px;
}

#resultsPercentage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 54px;
}

#resultsPercentage p {
  font-size: 54px;
}

/* Centrato nei loro div corrette e sbagliate */
#percentageCorrect,
#percentageWrong {
  justify-content: center;
}

/* Questo mette il chart posizionato al centro */
#chartContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

#chartText {
  width: 30%;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
}

#chartText h4 {
  font-size: 1.3em;
}

#chartText p {
  font-size: 1em;
}

#buttonContainer {
  text-align: center;
}

#buttonContainer p {
  margin-top: 30px;
}

#numeroDomanda {
  font-size: 200px;
  font-weight: 600;
}

#feedback {
  height: 80vh;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btnFeedback {
  margin-top: 30px;
}

#feedbackText {
  width: 60%;
  height: 50px;
  border-radius: 20px;
  text-align: center;
  font-size: 1.2em;
  margin-top: 50px;
}
